In [ ]:
# Load the SQL extension for Jupyter Notebook
%load_ext sql

In [ ]:
# Check the PostgreSQL version
%sql SELECT version();

In [ ]:
# Connect to the PostgreSQL database
%sql postgresql://praveensingh:your_password@localhost/TFQDB_INTERVIEW

In [ ]:
# Fetch data from the "brands" table and store it in a DataFrame
df = %sql SELECT * FROM brands;

In [ ]:
# Display the DataFrame
df