# Python Pandas Cleaning & Fixing Wrong Data

In [1]:
import os 
curd = os.getcwd()
os.listdir(curd)

['Graphs Png Files',
 '.DS_Store',
 'bad_data.csv',
 'Python Data Science Project for Phone Sales Analysis.ipynb',
 'data_new.csv',
 'Screentime-App-Details-Dataset.csv',
 'data.csv',
 'App Usage With Screen Time Analysis.ipynb',
 'apple_products.csv',
 'Pandas_Part_2.ipynb',
 'data.js',
 'Python Pandas DataFrame Cheat.ipynb',
 '.ipynb_checkpoints',
 'Pandas_Part_1.ipynb',
 'App-Usage-With-Screen-Time-Analysis.py']

In [2]:
# Importing the pandas library
import pandas as pd

# Reading the CSV file into a DataFrame
df = pd.read_csv("bad_data.csv")

# Printing the first few rows of the DataFrame
print(df.head())

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [3]:

# Updating the 'Duration' column in the 8th row (index 7) with a value of 45
df.loc[7, 'Duration'] = 45

In [4]:
df.head(10)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7        45  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0

In [5]:
# For a larger dataset: Here, we will iterate through all the values in the "Duration" column. If a value is higher than 120, we will set it to 120.

# Importing the pandas library
import pandas as pd

# Reading the CSV file into a DataFrame
df = pd.read_csv("bad_data.csv")

# Iterating through the rows of the DataFrame
for i in df.index:
    # Checking if the 'Duration' value is greater than 120
    if df.loc[i, "Duration"] > 120:
        # Setting the 'Duration' value to 120 if it exceeds the limit
        df.loc[i, "Duration"] = 120

# Displaying the updated DataFrame
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        120  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [6]:
# Import the pandas library
import pandas as pd 

# Read the CSV file into a pandas DataFrame
df = pd.read_csv("bad_data.csv")

# Print the DataFrame before the conversion
print("\nBefore conversion:", df)

# Iterate through the DataFrame rows
for i in df.index:
    # Check if the 'Duration' value is greater than 120
    if df.loc[i, "Duration"] > 120:
        # If greater than 120, set the 'Duration' value to 120
        df.loc[i, "Duration"] = 120

# Print the DataFrame after the conversion
print("\nAfter conversion:", df)

Before conversion:     Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

After conversion:     Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        120  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Python Pandas Removing Duplicates :

In [7]:
# Import the pandas library
import pandas as pd 

# Read the CSV file into a pandas DataFrame
df = pd.read_csv("bad_data.csv")

# Print the DataFrame before the conversion
print("\nBefore conversion:", df)

# Identify and mark duplicate rows in the DataFrame
duprows = df.duplicated()

# Print the DataFrame after the conversion, displaying only the duplicate rows
print("\nAfter conversion:", df[duprows])

Before conversion:     Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

After conversion:     Duration          Date  Pulse  Maxpulse  Calories
12        60  '2020/12/12'    100       120     250.7

In [8]:
# Print the DataFrame after the conversion, displaying only the duplicate rows
print("\nAfter conversion:", df[duprows])

After conversion:     Duration          Date  Pulse  Maxpulse  Calories
12        60  '2020/12/12'    100       120     250.7

In [9]:
# Removing duplicates from the dataset using the 'drop_duplicates' method.
import pandas as pd

# Reading the CSV file into a DataFrame
df = pd.read_csv('bad_data.csv')

# Dropping duplicate rows in place
df.drop_duplicates(inplace=True)

# Displaying the updated DataFrame
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# iloc - Integer Location Function

The `iloc` function in Pandas is used for integer-location based indexing.

### Selecting a Single Element
```python
val = dataframe.iloc[row, column]
```

### Selecting a Specific Row
```python
val = dataframe.iloc[row_index]
```

### Selecting Multiple Row Elements
```python
val = dataframe.iloc[startrow:endrow]
```

### Selecting Specific Rows and Columns
```python
val = dataframe.iloc[[row1, row2], [col1, col2]]
```

### Selecting All Rows for Specific Columns
```python
val = dataframe.iloc[:, [col1, col2]]
```

These examples illustrate various use cases of the `iloc` function for indexing and selecting elements in a Pandas DataFrame.
```

In [10]:
# Importing Pandas library
import pandas as pd

# Creating a dictionary with data
data = {
    'Name': ['Praveen', 'Rahul', 'Priyanka', 'Akhilesh'],
    'Age': [25, 30, 33, 38],
    'Country': ['Dubai', 'Canada', 'UK', 'Australia']
}

# Creating a Pandas DataFrame
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

       Name  Age    Country
0   Praveen   25      Dubai
1     Rahul   30     Canada
2  Priyanka   33         UK
3  Akhilesh   38  Australia

In [11]:
# Selecting the element at row 1, column 2 ('Canada') from the DataFrame
selected_element = df.iloc[1, 2]

# Displaying the selected element
print(selected_element)

Canada

In [12]:
# Creating a subset of the DataFrame
subset = df.iloc[1:3, 0:2]

# Displaying the subset
print(subset)

       Name  Age
1     Rahul   30
2  Priyanka   33

In [13]:
# Selecting a specific row by index (in this case, the third row)
selected_row = df.iloc[2]

# Displaying the selected row
print(selected_row)

Name       Priyanka
Age              33
Country          UK
Name: 2, dtype: object

In [14]:
# Selecting a range of rows (from the second to the third, exclusive)
multiple_rows = df.iloc[1:3]

# Displaying the selected rows
print(multiple_rows)

       Name  Age Country
1     Rahul   30  Canada
2  Priyanka   33      UK

In [15]:
# Selecting specific rows (1st and 3rd) and columns (0th and 2nd)
specific_rows_and_columns = df.iloc[[1, 3], [0, 2]]

# Displaying the selected rows and columns
print(specific_rows_and_columns)

       Name    Country
1     Rahul     Canada
3  Akhilesh  Australia

In [16]:
# Selecting all rows for specific columns (1st and 2nd)
selecting_all_rows_for_specific_columns = df.iloc[:, [1, 2]]

# Displaying the selected rows and columns
print(selecting_all_rows_for_specific_columns)

   Age    Country
0   25      Dubai
1   30     Canada
2   33         UK
3   38  Australia