# USE MSSQL ON JUPYTER-NOTEBOOK

In [1]:
# Step 1: Install necessary libraries

# !pip install pandas sqlalchemy

Requirement already satisfied: pandas in /opt/homebrew/Caskroom/miniconda/base/envs/pks/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: sqlalchemy in /opt/homebrew/Caskroom/miniconda/base/envs/pks/lib/python3.11/site-packages (2.0.28)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/homebrew/Caskroom/miniconda/base/envs/pks/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/praveensingh/.local/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniconda/base/envs/pks/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Caskroom/miniconda/base/envs/pks/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/Caskroom/miniconda/base/envs/pks/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: six>=1.5 in /Users/praveensingh/.local/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Step 2: Import required libraries
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Step 3: Define your MSSQL Connection String
mssql_conn_str = "mssql+pyodbc://sa:Admin260@localhost/TECHTFQ_INTERVIEW?driver=ODBC Driver 17 for SQL Server"

In [4]:
# Step 4: Create a SQLAlchemy engine
engine = create_engine(mssql_conn_str)

In [5]:
# Step 5: Example query
query = "SELECT * FROM brands"

In [6]:
# Step 6: Execute the query and fetch results into a DataFrame
try:
    df = pd.read_sql(query, engine)
    # Step 7: Display the DataFrame
    df
except Exception as e:
    print(f"Error executing the query: {e}")
finally:
    # Step 8: Close the SQLAlchemy engine
    engine.dispose()

In [7]:
# Step 9: Display the DataFrame (optional, outside the try-except block)
df

    brand1   brand2  year  custom1  custom2  custom3  custom4
0    apple  samsung  2020        1        2      1.0      2.0
1  samsung    apple  2020        1        2      1.0      2.0
2    apple  samsung  2021        1        2      5.0      3.0
3  samsung    apple  2021        5        3      1.0      2.0
4   google     None  2020        5        9      NaN      NaN
5  oneplus  nothing  2020        5        9      6.0      3.0