# USE MYSQL ON JUPYTER-NOTEBOOK

In [1]:
# Step 1: Install the required packages

# !pip install mysql-connector-python
# !pip install ipython-sql pandas

In [2]:
# Step 2: Load the SQL extension for Jupyter Notebook
%load_ext sql

In [3]:
# Step 3: Define the MySQL Connection String
mysql_conn_str = "mysql+mysqlconnector://root:Admin260@localhost/TFQDB_INTERVIEW"
%sql $mysql_conn_str

In [4]:
# Step 4: Check the MySQL version
%sql SELECT version();

 * mysql+mysqlconnector://root:***@localhost/TFQDB_INTERVIEW
1 rows affected.

[('8.3.0',)]

In [5]:
# Step 5: Fetch data from the "brands" table and store it in a DataFrame
mysql_df = %sql SELECT * FROM brands;

 * mysql+mysqlconnector://root:***@localhost/TFQDB_INTERVIEW
6 rows affected.

In [6]:
# Step 6: Display the MySQL DataFrame
mysql_df

[('apple', 'samsung', 2020, 1, 2, 1, 2),
 ('samsung', 'apple', 2020, 1, 2, 1, 2),
 ('apple', 'samsung', 2021, 1, 2, 5, 3),
 ('samsung', 'apple', 2021, 5, 3, 1, 2),
 ('google', None, 2020, 5, 9, None, None),
 ('oneplus', 'nothing', 2020, 5, 9, 6, 3)]