# Lecture 6. Lists__Methods and Manipulation

## List
a list is a versatile and mutable data structure that can hold a collection of elements. Lists are defined by enclosing the elements within
square brackets ([]).

In [1]:
my_list1 = [1, 2, 3, 4, 5]
my_list1

[1, 2, 3, 4, 5]

In [2]:
my_list2 = [1, 2.8, 3, 'Praveen', 5 , 'a' , 2+1j]
my_list2

[1, 2.8, 3, 'Praveen', 5, 'a', (2+1j)]

In [3]:
my_list1[0]

1

In [4]:
my_list1[2:]

[3, 4, 5]

In [5]:
my_list2[-4:]

['Praveen', 5, 'a', (2+1j)]

In [6]:
my_list1[1] = 'Praveen Singh' ## Mutable Means
my_list1

[1, 'Praveen Singh', 3, 4, 5]

In [7]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
my_list

[5, 4, 3, 2, 1]

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list[: : -1]

[5, 4, 3, 2, 1]

In [9]:
my_listnew = ['a', 'b', 'c' , 'd']
my_listnew.reverse()
my_listnew

['d', 'c', 'b', 'a']

In [10]:
my_listnew = ['a', 'b', 'c' , 'd']
my_listnew[: : -1]

['d', 'c', 'b', 'a']

## Modifying list

In [11]:

my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [12]:
my_list[1] = 99
my_list

[1, 99, 3, 4, 5]

In [13]:
my_list.append (10)
my_list

[1, 99, 3, 4, 5, 10]

In [14]:
my_list.remove (3)
my_list

[1, 99, 4, 5, 10]

In [15]:
my_list.pop()
my_list

[1, 99, 4, 5]

In [16]:
# List Concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6, 9]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6, 9]

In [17]:
## List repetation

repeated_list = [0] * 20
print(repeated_list) # [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
# Len of list
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(my_list)
print("Len :",length)

[1, 2, 3, 4, 5]
Len : 5

In [19]:
# Nested List
nested_list = [[1,2,3], [4,5,6], [7,8,9], ['1',2,'Welcome']]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], ['1', 2, 'Welcome']]

In [20]:
nested_list[1][2]  # 2nd row and 3rd column

6

In [21]:
my_list = [1, 10, 4, 5, 6]
my_list

[1, 10, 4, 5, 6]

In [22]:
my_list.append(7)
my_list

[1, 10, 4, 5, 6, 7]

In [23]:
my_list.insert(2, 100)
my_list

[1, 10, 100, 4, 5, 6, 7]

In [24]:
my_list.pop(3)
my_list

[1, 10, 100, 5, 6, 7]

In [25]:
my_list.remove(5)
my_list

[1, 10, 100, 6, 7]

# List Comprehension

### newlist = [expression for item in iterable if condition]

In [26]:
squares = [x ** 2 for x in range(5)]    # [0, 1, 4, 9, 16]
squares

[0, 1, 4, 9, 16]

In [27]:
for x in range(5):
    print(x ** 2)

0
1
4
9
16

# Lecture 7. Tuples in Python __ Mastering Immutable data structures

# Tuples
1. a tuple is a collection of ordered and `immutable elements`. Tuples are similar to lists, but the key difference is that once a tuple is created,
its elements cannot be changed or modified. Tuples are defined using parentheses `()`.

2. Any time you need to store a sequence of data like a list, but don't need the mutability of a list, a tuple is appropriate. They're for when you know exactly how many elements you need to store and what those elements are ahead of time

3. Coordinates in Geographic Information Systems (GIS): Tuples can represent coordinates `(latitude, longitude)` in GIS applications. For example: coordinates = `(37.7749,-122.4194)` representing the coordinates of San Francisco.

In [28]:
my_tuple1 = (1, 2, 3, 4, 5)
my_tuple1

(1, 2, 3, 4, 5)

In [29]:
my_tuple1[0]

1

In [30]:
my_tuple2 = (1, 2.4, 2+3j, [4, 5, 'Data', 9.6])   
my_tuple2

(1, 2.4, (2+3j), [4, 5, 'Data', 9.6])

In [31]:
my_tuple2[3]   #  [4, 5, 'Data', 9.6]

[4, 5, 'Data', 9.6]

In [32]:
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [33]:
my_tupple = (1, 2, 3, 4)
my_tupple

(1, 2, 3, 4)

In [34]:
my_list[0] = 100
my_list

[100, 2, 3, 4]

In [35]:
# my_tupple[0] = 100   ## TypeError: 'tuple' object does not support item assignment

In [36]:
# Unpack Tuples
x,y,z = (1,2,3)
print(x,y,z)

1 2 3

In [37]:
single_element_tuple = (65,)
print(type(single_element_tuple))

<class 'tuple'>

In [38]:
# Len of Tuple
print("my_tupple len :",len(my_tupple))

my_tupple len : 4

In [39]:
my_tuple = (1, 2, 3 ,4, 2, 5)

count_of_2 = my_tuple.count(2)
print("count_of_2 : ",count_of_2)

index_of_4 = my_tuple.index(4)
print("index_of_4 : ",index_of_4)

count_of_2 :  2
index_of_4 :  3

In [40]:
# Concat

tuple1 = (1,2,3)
tuple2 = (2,4,5)

concat_tuple = tuple1 + tuple2
concat_tuple

(1, 2, 3, 2, 4, 5)

In [41]:
# concat_tuple.reverse()   #  AttributeError: 'tuple' object has no attribute 'reverse'

In [42]:
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')
my_tuple

('apple', 'banana', 'cherry', 'date', 'elderberry')

In [43]:
my_tuple[0]

'apple'

In [44]:
concat_tuple[: : -1]

(5, 4, 2, 3, 2, 1)

In [45]:
# Comment down the answer to this piece.
my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g')
print(my_tuple[-1])  # g
print(my_tuple[ ::- 1])  #  ('g', 'f', 'e', 'd', 'c', 'b', 'a')
print(my_tuple[-1 ::- 2])   # ('g', 'e', 'c', 'a')

g
('g', 'f', 'e', 'd', 'c', 'b', 'a')
('g', 'e', 'c', 'a')

# Lecture 8. Sets in Python __ Methods and Manipulations
### Note :  Set is an unordered (No index) we can use indexing

In [46]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [47]:
print(type(my_set))

<class 'set'>

In [48]:
list1 = [3, 3, 4, 5, 6, 7]
another_set = set(list1)
print(another_set) #  {3, 4, 5, 6, 7} will return unique elements

{3, 4, 5, 6, 7}

## Set Methods

1. add(): Adds an element to the set.
2. update(): Adds multiple elements to the set.
3. remove(): Removes a specified element. Raises an error if the element is not present.
4. discard(): Removes a specified element if it is present.
5. pop(): Removes and returns an arbitrary element. Raises an error if the set is empty.

In [49]:
my_set

{1, 2, 3, 4, 5}

In [50]:
my_set.add(99)
my_set

{1, 2, 3, 4, 5, 99}

In [51]:
my_set.update({11,12,12,13})
my_set               # Again its taking unique {1, 2, 3, 4, 5, 11, 12, 13, 99}

{1, 2, 3, 4, 5, 11, 12, 13, 99}

In [52]:
my_set.update([21,22,23,21,22])
my_set                       # Again its taking unique {1, 2, 3, 4, 5, 11, 12, 13, 21, 22, 23, 99}

{1, 2, 3, 4, 5, 11, 12, 13, 21, 22, 23, 99}

In [53]:
my_set.remove(99)
my_set

{1, 2, 3, 4, 5, 11, 12, 13, 21, 22, 23}

In [54]:
"""The discard() method removes the specified item from the set.
This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the
discard() method will not."""

my_set.discard(99)    # if element not present then it will not though error but remove will show error.
my_set

{1, 2, 3, 4, 5, 11, 12, 13, 21, 22, 23}

In [55]:
my_set.pop()
my_set

{2, 3, 4, 5, 11, 12, 13, 21, 22, 23}

In [56]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1,set2)             ## {1, 2, 3, 4} {3, 4, 5, 6}

{1, 2, 3, 4} {3, 4, 5, 6}

In [57]:
set_union = set1.union(set2)
set_union                        ## {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [58]:
set_intersection = set1.intersection(set2)
set_intersection          ## {3, 4}

{3, 4}

In [59]:
difference1_difference = set1.difference(set2)
difference1_difference    # {1, 2}

{1, 2}

In [60]:
difference2_difference = set2.difference(set1)
difference2_difference    # {5, 6}

{5, 6}

In [61]:
# Initial sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using difference_update method
set1.difference_update(set2)
print("After difference_update, set1:", set1)

After difference_update, set1: {1, 2}

In [62]:
# Initial sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using difference_update method
set2.difference_update(set1)
print("After difference_update, set2:", set2)

After difference_update, set2: {6, 7}

In [63]:
# Resetting sets for the next example
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using -= operator (difference)
set3 = set1 - set2
print("After difference using -= operator, set1:", set3)

After difference using -= operator, set1: {1, 2}

In [64]:
# Resetting sets for the next example
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using -= operator (difference)
set3 = set1 - set2
print("After difference using -= operator, set3:", set3)
print("= set1:", set1)

After difference using -= operator, set3: {1, 2}
= set1: {1, 2, 3, 4, 5}

In [65]:
# Initial sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Using differende_update method
set1.intersection_update(set2)
print("After intersection_update, set1:", set1)

After intersection_update, set1: {3, 4, 5}

In [66]:
# Initial sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
union_set = set1 | set2 # union
intersection_set = set1 & set2 #intersection
difference_set = set1 - set2 #difference

In [67]:
print("union_set :",union_set,"\nintersection_set :",intersection_set,"\ndifference_set :",difference_set)

union_set : {1, 2, 3, 4, 5, 6, 7}
intersection_set : {3, 4, 5}
difference_set : {1, 2}

In [68]:
set1 = {3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set1,set2

({3, 4, 5}, {3, 4, 5, 6, 7})

In [69]:
is_subset = set1.issubset(set2) # Tests whether another set is a subset or superset.
is_subset

True

In [70]:
set_copy = my_set.copy()
set_copy

{2, 3, 4, 5, 11, 12, 13, 21, 22, 23}

In [71]:
my_set.clear() # Removes all elements from the set.
my_set

set()

# Lecture 9. Dictionaries__ Methods and Manipulations

In [72]:
my_dict ={"name": "John", "age": 30,"city": "New York", "colors": ["red", "white", "blue"], 1:10}
# Values can be any datatype
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10}

In [73]:
set1 = {2}
print(set1)
print(type(set1))

{2}
<class 'set'>

In [74]:
dict1 = {2:'a'}
print(dict1)
print(type(dict))

{2: 'a'}
<class 'type'>

In [75]:
# Nested Dict
my_dict1 = {1: 'balaji', 
            2: 'is',
            3: {'A': 'data .scientist', 'B': 'hello', 'C': 'world'}
           }

my_dict1

{1: 'balaji', 2: 'is', 3: {'A': 'data .scientist', 'B': 'hello', 'C': 'world'}}

In [76]:
# The dict() Constructor
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [77]:
keys = ['name', 'age', 'city', 'colors'] #keys
values = ['John', 30, 'New York', ["red", "white", "blue"]] #values

new_dict = dict(zip(keys, values))
new_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue']}

In [78]:
my_dict["name"]  # 'John'

my_dict["age"]  # 30

30

In [79]:
my_dict['gender'] = 'Male'
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10,
 'gender': 'Male'}

In [80]:
 my_dict['age'] = 32
my_dict

{'name': 'John',
 'age': 32,
 'city': 'New York',
 'colors': ['red', 'white', 'blue'],
 1: 10,
 'gender': 'Male'}

In [81]:
removed_value = my_dict.pop("city") # Removes the key and returns its value.
removed_value

'New York'

In [82]:
my_dict

{'name': 'John',
 'age': 32,
 'colors': ['red', 'white', 'blue'],
 1: 10,
 'gender': 'Male'}

In [83]:
print(my_dict.get("age"))

print(my_dict.get("hello"))

32
None

In [84]:
removed_item = my_dict.popitem()
removed_item

('gender', 'Male')

In [85]:
del my_dict["age"] # Removes the key-value pair for a specified key.
print(my_dict)

{'name': 'John', 'colors': ['red', 'white', 'blue'], 1: 10}

In [86]:
my_dict.clear() # Removes all key-value pairs from the dictionary.
print(my_dict)

{}

In [87]:
del my_dict # Delete dict

1. keys(): Returns a view of all keys in the dictionary.
2. values(): Returns a view of all values in the dictionary.
3. items(): Returns a view of all key-value pairs as tuples.
4. get(key, default): Returns the value for a given key, or a default value if the key is not present.
5. update(dictionary): Updates the dictionary with key-value pairs from another dictionary.

In [88]:
my_dict ={"name": "John", "age": 30,"city": "New York", 'country':'UK'}
my_dict

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'UK'}

In [89]:
keys_view = my_dict.keys()
keys_view

dict_keys(['name', 'age', 'city', 'country'])

In [90]:
values_view = my_dict.values()
values_view

dict_values(['John', 30, 'New York', 'UK'])

In [91]:
items_view = my_dict.items ()
items_view

dict_items([('name', 'John'), ('age', 30), ('city', 'New York'), ('country', 'UK')])

In [92]:
my_dict.update({"city": "London", "country": "UK"})
my_dict

{'name': 'John', 'age': 30, 'city': 'London', 'country': 'UK'}

# Lecture 10. Type Casting

Conversion of data types

1. Implicit Type Conversion (Coercion)
2. Explicit Type Conversion

Python automatically performs some type conversions when operators with different types are used together. For example, adding an integer
and a float results in a float. why ony float? why not int in below example?

## 1. Implicit Type Conversion (Coercion)

In [93]:
#  implicit conversion
X = 5    # integer
y = 2.8  # float

print("Value and Type of x : ", x, type(x))
print("Value and Type of x : ", y, type(y))

result = x + y # the result will be a float (implicit conversion)
print("Addition of x + y : and type ", result, type(result))

Value and Type of x :  1 <class 'int'>
Value and Type of x :  2.8 <class 'float'>
Addition of x + y : and type  3.8 <class 'float'>

## Explicit Type Conversion (Type Casting):
1. data type is manually changed by the user as per their requirement.
2. here is a risk of data loss since we are forcing an expression to be changed in some specific data type

In [94]:
num = '50'
print(type(num))

# prin(num+50) # it will through error

<class 'str'>

In [95]:
num = '50'
print("num before typecasting",type(num))
num = int(num)
print("num after typecasting",type(num))
print("num + 50 :",num + 50)

num before typecasting <class 'str'>
num after typecasting <class 'int'>
num + 50 : 100

In [96]:
x = 5.6 # Float
integer_x = int(x)  
print("integer_x :",integer_x)
print("integer_x type :",type(integer_x))

integer_x : 5
integer_x type : <class 'int'>

In [97]:
# int('10a')  ## Conversion must contain compatable values

## Data Structure Conversions

In [98]:
# Int to String
z = 42
string_z = str(z)
print(type(string_z))  # string_z will be "42"
print(string_z)

<class 'str'>
42

In [99]:
# initializing string
s =  'Praveen Singh'
# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end=" ")
print (c)

After converting string to tuple :  ('P', 'r', 'a', 'v', 'e', 'e', 'n', ' ', 'S', 'i', 'n', 'g', 'h')

In [100]:
# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)

After converting string to set : {'P', ' ', 'e', 'i', 'a', 'S', 'g', 'n', 'r', 'h', 'v'}

In [101]:
# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to list : ['P', 'r', 'a', 'v', 'e', 'e', 'n', ' ', 'S', 'i', 'n', 'g', 'h']

In [102]:
tuple_example = (1, 2, 'balaji')
list_example = list(tuple_example)
print(list_example)     # list_example will be [1, 2, 3]

[1, 2, 'balaji']

In [103]:
list_example = [1, 2, 'balaji']
tuple_example = tuple(list_example)
print (tuple_example)    # list_example will be [1, 2, 3]

(1, 2, 'balaji')

In [104]:
# initializing integers
a = 1
p = 2

# printing integer converting to complex number
c = complex(a,p)
print ("After converting integer to complex number : ",end="")
print (c)

After converting integer to complex number : (1+2j)

In [105]:
# initializing tuple
tup = (('Balaji', 'good') , ('Teacher', 'yes'), ('or', 'No') )
# printing tuple converting to expression dictionary
c = dict(tup)
print ("After converting tuple to dictionary : ",end="")
print (c)

After converting tuple to dictionary : {'Balaji': 'good', 'Teacher': 'yes', 'or': 'No'}

In [106]:
value = 0
bool_value = bool(value) # bool_value will be False
print(bool_value)

False

In [107]:
list("Data Analyst")  # convert string to list using list() method

['D', 'a', 't', 'a', ' ', 'A', 'n', 'a', 'l', 'y', 's', 't']

In [111]:
Out[107]

['D', 'a', 't', 'a', ' ', 'A', 'n', 'a', 'l', 'y', 's', 't']