# Lecture 6. Lists__Methods and Manipulation

## List
a list is a versatile and mutable data structure that can hold a collection of elements. Lists are defined by enclosing the elements within
square brackets ([]).

In [1]:
my_list1 = [1, 2, 3, 4, 5]
my_list1

[1, 2, 3, 4, 5]

In [2]:
my_list2 = [1, 2.8, 3, 'Praveen', 5 , 'a' , 2+1j]
my_list2

[1, 2.8, 3, 'Praveen', 5, 'a', (2+1j)]

In [3]:
my_list1[0]

1

In [4]:
my_list1[2:]

[3, 4, 5]

In [5]:
my_list2[-4:]

['Praveen', 5, 'a', (2+1j)]

In [6]:
my_list1[1] = 'Praveen Singh' ## Mutable Means
my_list1

[1, 'Praveen Singh', 3, 4, 5]

In [7]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
my_list

[5, 4, 3, 2, 1]

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list[: : -1]

[5, 4, 3, 2, 1]

In [9]:
my_listnew = ['a', 'b', 'c' , 'd']
my_listnew.reverse()
my_listnew

['d', 'c', 'b', 'a']

In [10]:
my_listnew = ['a', 'b', 'c' , 'd']
my_listnew[: : -1]

['d', 'c', 'b', 'a']

## Modifying list

In [11]:

my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [12]:
my_list[1] = 99
my_list

[1, 99, 3, 4, 5]

In [13]:
my_list.append (10)
my_list

[1, 99, 3, 4, 5, 10]

In [14]:
my_list.remove (3)
my_list

[1, 99, 4, 5, 10]

In [15]:
my_list.pop()
my_list

[1, 99, 4, 5]

In [16]:
# List Concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6, 9]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6, 9]

In [17]:
## List repetation

repeated_list = [0] * 20
print(repeated_list) # [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
# Len of list
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(my_list)
print("Len :",length)

[1, 2, 3, 4, 5]
Len : 5

In [19]:
# Nested List
nested_list = [[1,2,3], [4,5,6], [7,8,9], ['1',2,'Welcome']]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], ['1', 2, 'Welcome']]

In [20]:
nested_list[1][2]  # 2nd row and 3rd column

6

In [21]:
my_list = [1, 10, 4, 5, 6]
my_list

[1, 10, 4, 5, 6]

In [22]:
my_list.append(7)
my_list

[1, 10, 4, 5, 6, 7]

In [23]:
my_list.insert(2, 100)
my_list

[1, 10, 100, 4, 5, 6, 7]

In [24]:
my_list.pop(3)
my_list

[1, 10, 100, 5, 6, 7]

In [25]:
my_list.remove(5)
my_list

[1, 10, 100, 6, 7]

# List Comprehension

### newlist = [expression for item in iterable if condition]

In [26]:
squares = [x ** 2 for x in range(5)]    # [0, 1, 4, 9, 16]
squares

[0, 1, 4, 9, 16]

In [27]:
for x in range(5):
    print(x ** 2)

0
1
4
9
16

# Lecture 7. Tuples in Python __ Mastering Immutable data structures

# Tuples
1. a tuple is a collection of ordered and `immutable elements`. Tuples are similar to lists, but the key difference is that once a tuple is created,
its elements cannot be changed or modified. Tuples are defined using parentheses `()`.

2. Any time you need to store a sequence of data like a list, but don't need the mutability of a list, a tuple is appropriate. They're for when you know exactly how many elements you need to store and what those elements are ahead of time

3. Coordinates in Geographic Information Systems (GIS): Tuples can represent coordinates `(latitude, longitude)` in GIS applications. For example: coordinates = `(37.7749,-122.4194)` representing the coordinates of San Francisco.

In [28]:
my_tuple1 = (1, 2, 3, 4, 5)
my_tuple1

(1, 2, 3, 4, 5)

In [29]:
my_tuple1[0]

1

In [30]:
my_tuple2 = (1, 2.4, 2+3j, [4, 5, 'Data', 9.6])   
my_tuple2

(1, 2.4, (2+3j), [4, 5, 'Data', 9.6])

In [31]:
my_tuple2[3]   #  [4, 5, 'Data', 9.6]

[4, 5, 'Data', 9.6]

In [32]:
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [33]:
my_tupple = (1, 2, 3, 4)
my_tupple

(1, 2, 3, 4)

In [34]:
my_list[0] = 100
my_list

[100, 2, 3, 4]

In [35]:
my_tupple[0] = 100   ## TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [36]:
# Unpack Tuples
x,y,z = (1,2,3)
print(x,y,z)

1 2 3

In [37]:
single_element_tuple = (65,)
print(type(single_element_tuple))

<class 'tuple'>

In [41]:
# Len of Tuple
print("my_tupple len :",len(my_tupple))

my_tupple len : 4

In [42]:
my_tuple = (1, 2, 3 ,4, 2, 5)

count_of_2 = my_tuple.count(2)
print("count_of_2 : ",count_of_2)

index_of_4 = my_tuple.index(4)
print("index_of_4 : ",index_of_4)

count_of_2 :  2
index_of_4 :  3

In [64]:
# Concat

tuple1 = (1,2,3)
tuple2 = (2,4,5)

concat_tuple = tuple1 + tuple2
concat_tuple

(1, 2, 3, 2, 4, 5)

In [65]:
# concat_tuple.reverse()   #  AttributeError: 'tuple' object has no attribute 'reverse'

In [66]:
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')
my_tuple

('apple', 'banana', 'cherry', 'date', 'elderberry')

In [67]:
my_tuple[0]

'apple'

In [69]:
concat_tuple[: : -1]

(5, 4, 2, 3, 2, 1)

In [70]:
# Comment down the answer to this piece.
my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g')
print(my_tuple[-1])  # g
print(my_tuple[ ::- 1])  #  ('g', 'f', 'e', 'd', 'c', 'b', 'a')
print(my_tuple[-1 ::- 2])   # ('g', 'e', 'c', 'a')

g
('g', 'f', 'e', 'd', 'c', 'b', 'a')
('g', 'e', 'c', 'a')

# Lecture 8. Sets in Python __ Methods and Manipulations
### Note :  Set is an unordered (No index) we can use indexing

In [76]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [77]:
print(type(my_set))

<class 'set'>

In [78]:
list1 = [3, 3, 4, 5, 6, 7]
another_set = set(list1)
print(another_set) #  {3, 4, 5, 6, 7} will return unique elements

{3, 4, 5, 6, 7}

## Set Methods

1. add(): Adds an element to the set.
2. update(): Adds multiple elements to the set.
3. remove(): Removes a specified element. Raises an error if the element is not present.
4. discard(): Removes a specified element if it is present.
5. pop(): Removes and returns an arbitrary element. Raises an error if the set is empty.

In [79]:
my_set

{1, 2, 3, 4, 5}

In [81]:
my_set.add(99)
my_set

{1, 2, 3, 4, 5, 99}

In [84]:
my_set.update({11,12,12,13})
my_set               # Again its taking unique {1, 2, 3, 4, 5, 11, 12, 13, 99}

{1, 2, 3, 4, 5, 11, 12, 13, 99}

In [85]:
my_set.update([21,22,23,21,22])
my_set                       # Again its taking unique {1, 2, 3, 4, 5, 11, 12, 13, 21, 22, 23, 99}

{1, 2, 3, 4, 5, 11, 12, 13, 21, 22, 23, 99}

In [86]:
my_set.remove(99)
my_set

{1, 2, 3, 4, 5, 11, 12, 13, 21, 22, 23}

In [96]:
"""The discard() method removes the specified item from the set.
This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the
discard() method will not."""

my_set.discard(99)    # if element not present then it will not though error but remove will show error.
my_set

{4, 5, 11, 12, 13, 21, 22, 23}

In [95]:
my_set.pop()
my_set

{4, 5, 11, 12, 13, 21, 22, 23}

In [97]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1,set2)             ## {1, 2, 3, 4} {3, 4, 5, 6}

{1, 2, 3, 4} {3, 4, 5, 6}

In [98]:
set_union = set1.union(set2)
set_union                        ## {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [99]:
set_intersection = set1.intersection(set2)
set_intersection          ## {3, 4}

{3, 4}

In [100]:
#### Pending