# ELECTORAL_BOND_DATA

In [8]:
#!pip install pdfplumber
#!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\prave\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\prave\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\prave\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\prave\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\prave\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: six>=1.5 in c:\users\prave\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
   -------------- ------------------------- 92.2/250.0 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 2.6 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [2]:
import pdfplumber
import pandas as pd

# Initialize an empty list to store the extracted data
extracted_data = []

# Open the PDF file
with pdfplumber.open("PART1.pdf") as pdf:
    # Iterate through each page
    for page in pdf.pages:
        # Extract the table data from the page
        table = page.extract_table()
        # Parse the table data to retrieve the desired columns
        if table:
            for row in table:
                if len(row) == 3:  # Assuming there are 3 columns
                    date_of_purchase = row[0]
                    purchaser_name = row[1]
                    denomination = row[2]
                    # Append the extracted data to the list
                    extracted_data.append({
                        'Date of Purchase': date_of_purchase,
                        'Purchaser Name': purchaser_name,
                        'Denomination': denomination
                    })

# Convert the extracted data to a DataFrame
df_purchaser = pd.DataFrame(extracted_data)

In [3]:
import pdfplumber
import pandas as pd

# Initialize an empty list to store the extracted data
extracted_data = []

# Open the PDF file
with pdfplumber.open("PART2.pdf") as pdf:
    # Iterate through each page
    for page in pdf.pages:
        # Extract the table data from the page
        table = page.extract_table()
        # Parse the table data to retrieve the desired columns
        if table:
            for row in table:
                if len(row) == 3:  # Assuming there are 3 columns
                    date_of_encashment = row[0]
                    party_name = row[1]
                    denomination = row[2]
                    # Append the extracted data to the list
                    extracted_data.append({
                        'Date of Encashment': date_of_encashment,
                        'Name of the Political Party': party_name,
                        'Denomination': denomination
                    })

# Convert the extracted data to a DataFrame
df_party = pd.DataFrame(extracted_data)

In [4]:
df_purchaser.head()

   Date of Purchase       Purchaser Name  Denomination
0  Date of Purchase       Purchaser Name  Denomination
1       12/Apr/2019  A B C INDIA LIMITED      1,00,000
2       12/Apr/2019  A B C INDIA LIMITED      1,00,000
3       12/Apr/2019  A B C INDIA LIMITED     10,00,000
4       12/Apr/2019  A B C INDIA LIMITED     10,00,000

In [5]:
df_party.head()

    Date of Encashment               Name of the Political Party  Denomination
0  Date of\nEncashment               Name of the Political Party  Denomination
1          12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM     10,00,000
2          12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM     10,00,000
3          12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM   1,00,00,000
4          12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM     10,00,000

In [9]:
# Assuming df1 is the DataFrame for the first file and df2 is the DataFrame for the second file
# Export df1 to Excel
df_purchaser.to_excel('df_purchaser.xlsx', index=False)

# Export df2 to Excel
df_party.to_excel('df_party.xlsx', index=False)

In [10]:
df_purchaser.describe()

       Date of Purchase                       Purchaser Name Denomination
count             18872                                18872        18872
unique              147                                 1317            6
top         05/Jan/2022  FUTURE GAMING AND HOTEL SERVICES PR  1,00,00,000
freq                570                                 1208        11671

In [11]:
df_party.describe()

       Date of Encashment Name of the Political Party Denomination
count               20422                       20422        20422
unique                231                          28            6
top           18/Apr/2019        BHARTIYA JANTA PARTY  1,00,00,000
freq                  596                        8633        12207