# Python lists

In [1]:
from pickle import FALSE, TRUE


x = ["apple", "banana", "orange"]
print(x)

['apple', 'banana', 'orange']

In [2]:
#duplicate values

x = ["apple", "banana", "orange", "apple"]
print(x)

['apple', 'banana', 'orange', 'apple']

In [3]:
#list length
x = ["apple", "banana", "orange"]
print("No of Items in list x:",len(x))

No of Items in list x: 3

In [4]:
#list items - Data Types can be used in ðŸ“ƒ list

x = ["a", "b", "c"]  # String
y = [1, 4, 5, 7, 9] # Integer
z = [TRUE, FALSE, TRUE] # Bullion

print("String",x)
print("Integer",y)
print("Bullion",z)

String ['a', 'b', 'c']
Integer [1, 4, 5, 7, 9]
Bullion [b'I01\n', b'I00\n', b'I01\n']

In [5]:
# A list with strings, int and boolean
x = ["sharad", 35, True, 50, "Male"]
print(x)

['sharad', 35, True, 50, 'Male']

### data type for Lists

In [6]:
# A list with strings, int and boolean
x = ["sharad", 35, True, 50, "Male"]
print(type(x))

<class 'list'>

In [7]:
#the List() constructor 
x = list(("sharad", 50, True, 50, "Male"))
print(x) # the double round brackets same as square brackets.

['sharad', 50, True, 50, 'Male']

#### Pythons Collecttions (Arrays)
#### 4 types of data types in python :
1. List
2. Tuple
3. Set
4. Dictionary

In [8]:
# How to Access items.
x = ["apple", "banana", "orange"]
print(x[1])

banana

In [9]:
# Range of Indexes
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
print(x[2:5])

['orange', 'cherry', 'Mango']

In [10]:
# Negative Indexing
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"] 
print(x[-6:-1])

['apple', 'banana', 'orange', 'cherry', 'Mango']

In [11]:
# Leaving out the start value
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
print(x[:4])

['apple', 'banana', 'orange', 'cherry']

In [12]:
# Leaving out the Ending value
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
print(x[1:])

['banana', 'orange', 'cherry', 'Mango', 'sharad']

In [13]:
# How to Check if the items Exists in List 
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
if "apple" in  x:
    print("Yes, 'apple' is in the List")

Yes, 'apple' is in the List

In [14]:
# Change the Item value of List
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
x[1] = "Watermelon"
print(x)

['apple', 'Watermelon', 'orange', 'cherry', 'Mango', 'sharad']

In [15]:
# Change a Range of Items values in List
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
x[1:3] = ["Watermelon", "Chiku"]
print(x)

['apple', 'Watermelon', 'Chiku', 'cherry', 'Mango', 'sharad']

In [16]:
# Change of one value by replacing it with 2 Values

x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
x[1:2] = ["Watermelon", "Nuts"]
print(x)

['apple', 'Watermelon', 'Nuts', 'orange', 'cherry', 'Mango', 'sharad']

In [17]:
# Change of 2 values by replacing it with 1 value
x = ["apple", "banana", "orange", "cherry", "Mango", "sharad"]
x[1:3] = ["watermelon"]
print(x)

['apple', 'watermelon', 'cherry', 'Mango', 'sharad']