# 3.Python Variables Multiple Values

In [1]:
#many values to multiple variables

x="orange"
y="banana"
z="apple"
print(x)
print(y)
print(z)

#------------------------------------------------------

x, y, z = "orange", "banana", "apple"
print(x)
print(y)
print(z)

#------------------------------------------------------

x="orange"
y="orange"
z="orange"
print(x)
print(y)
print(z)
#------------------------------------------------------

x = y = z = "orange"
print(x)
print(y)
print(z)

#------------------------------------------------------
# Tuple
fruits = ["orange", "banana", "apple"]
x, y, z = fruits
print(x)
print(y)
print(z)

orange
banana
apple
orange
banana
apple
orange
orange
orange
orange
orange
orange
orange
banana
apple

In [2]:
#output variable

x = "my name is sharad"
print(x)

#------------------------------------------------------

x = "my"
y = "name"
z = "is sharad"
print(x,y,z)

#------------------------------------------------------

x = "my "
y = "name "
z = "is sharad"
print(x + y + z)

#------------------------------------------------------

x = 5
y = 10
z = 15
print(x + y + z)

my name is sharad
my name is sharad
my name is sharad
30

#### Thanks