# 5.Python Data Type

#Built-in Data Types
* Text type : str
* Numeric types: int, float, complex
* Sequence Type: List , Tuple, range
* mapping: dict
* set type: set, frozenset
* boolean type: bool
* Binary type: bytes, bytearray, memoryview

### ChatGPT
#### Built-in Data Types

#### 1. Text type:

In [1]:
# 1. Strings (str): Sequences of characters enclosed in single or double quotes.

name = "John"
message = 'Hello, World!'

print(type(name))
print(type(message))

print(name)
print(message)

<class 'str'>
<class 'str'>
John
Hello, World!

#### 2. Numeric types:

In [2]:
# 1. Integers (int): Whole numbers without any decimal points.

x = 5
y = -10

print(type(x))
print(type(y))

print(x)
print(y)

<class 'int'>
<class 'int'>
5
-10

In [3]:
# 2. Floating-Point Numbers (float): Numbers with decimal points.


a = 3.14
b = -0.001

print(type(a))
print(type(b))


print(a)
print(b)

<class 'float'>
<class 'float'>
3.14
-0.001

In [4]:
# 3. complex: Represents a complex number with real and imaginary parts.

z = 3 + 4j  # Real part: 3, Imaginary part: 4

print(type(z))
print(z)

<class 'complex'>
(3+4j)

#### 3. Sequence types:

In [5]:
# 1. Lists (list): Ordered, mutable collections that can contain elements of different data types.

numbers = [1, 2, 3, 4, 5]
names = ["Alice", "Bob", "Charlie"]

print(type(numbers))
print(type(names))

print(numbers)
print(names)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5]
['Alice', 'Bob', 'Charlie']

In [6]:
# 2. Tuples (tuple): Ordered, immutable collections.

coordinates = (3, 4)
colors = ("red", "green", "blue")

print(type(coordinates))
print(type(colors))

print(coordinates)
print(colors)

<class 'tuple'>
<class 'tuple'>
(3, 4)
('red', 'green', 'blue')

In [7]:
# 3. range: Represents an immutable sequence of numbers and is commonly used for iterating over a sequence of numbers.

numbers = range(5)  # Represents 0, 1, 2, 3, 4

print(type(numbers))
print(numbers)

<class 'range'>
range(0, 5)

#### 4. Mapping type:

In [8]:
# 1. Dictionaries (dict):  Unordered collections of key-value pairs.

person = {"name": "John", "age": 30, "city": "New York"}

print(type(person))

print(person)

<class 'dict'>
{'name': 'John', 'age': 30, 'city': 'New York'}

#### 5. Set types:

In [9]:
# 1. Sets (set): Unordered collections of unique elements.

unique_numbers = {1, 2, 3, 4, 5}
fruits = {"Apple" , "Banana" , "Orange" , "Grapes"}

print(type(unique_numbers))
print(type(fruits))

print(unique_numbers)
print(fruits)

<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5}
{'Banana', 'Orange', 'Grapes', 'Apple'}

In [10]:
# 2. frozenset: Represents an immutable set.

frozen_set = frozenset({1, 2, 3, 4})

print(type(frozen_set))
print(frozen_set)

<class 'frozenset'>
frozenset({1, 2, 3, 4})

#### 6. Boolean type:

In [11]:
# 1. Boolean (bool): Represents truth values, either True or False.

is_valid = True
has_error = False

print(type(is_valid))
print(type(has_error))

print(is_valid)
print(has_error)

<class 'bool'>
<class 'bool'>
True
False

#### 7. Binary types:

In [12]:
# 1. bytes: Represents an immutable sequence of bytes.

my_bytes  = b'hello'  # Immutable bytes

print(type(my_bytes))
print(my_bytes)

<class 'bytes'>
b'hello'

In [13]:
# 2. bytearray: Represents a mutable sequence of bytes.

my_bytearray  = bytearray(b'hello')  # Mutable byte array


print(type(my_bytearray ))
print(my_bytearray )

<class 'bytearray'>
bytearray(b'hello')

In [14]:
# 3. memoryview: Provides a view of the memory as an array of unsigned bytes.


data = b'hello'
my_memoryview  = memoryview(data)

print(type(my_memoryview ))

print(my_memoryview )

<class 'memoryview'>
<memory at 0xffffa0ad6b00>

#### 8. None types:

In [15]:
# 1. NoneType (None): Represents the absence of a value or a null value.

no_value = None

print(type(no_value))

print(no_value)

<class 'NoneType'>
None

# Setting out the specific Data Types

In [16]:
# 1. Integer (`int`):
int_var = int(5)
print(f"{1}. Type: {type(int_var)}")
print(f"   Value: {int_var}\n")

1. Type: <class 'int'>
   Value: 5

In [17]:
# 2. Floating-Point (`float`):
float_var = float(3.14)
print(f"{2}. Type: {type(float_var)}")
print(f"   Value: {float_var}\n")

2. Type: <class 'float'>
   Value: 3.14

In [18]:
# 3. Complex (`complex`):
complex_var = complex(2, 3)
print(f"{3}. Type: {type(complex_var)}")
print(f"   Value: {complex_var}\n")

3. Type: <class 'complex'>
   Value: (2+3j)

In [19]:
# 4. String (`str`):
str_var = str("Hello, World!")
print(f"{4}. Type: {type(str_var)}")
print(f"   Value: {str_var}\n")

4. Type: <class 'str'>
   Value: Hello, World!

In [20]:
# 5. List (`list`):
list_var = list([1, 2, 3, 4])
print(f"{5}. Type: {type(list_var)}")
print(f"   Value: {list_var}\n")

5. Type: <class 'list'>
   Value: [1, 2, 3, 4]

In [21]:
# 6. Tuple (`tuple`):
tuple_var = tuple((1, 2, 3, 4))
print(f"{6}. Type: {type(tuple_var)}")
print(f"   Value: {tuple_var}\n")

6. Type: <class 'tuple'>
   Value: (1, 2, 3, 4)

In [22]:
# 7. Range (`range`):
range_var = range(5)
print(f"{7}. Type: {type(range_var)}")
print(f"   Value: {list(range_var)}\n")

7. Type: <class 'range'>
   Value: [0, 1, 2, 3, 4]

In [23]:
# 8. Dictionary (`dict`):
dict_var = dict({"name": "John", "age": 30})
print(f"{8}. Type: {type(dict_var)}")
print(f"   Value: {dict_var}\n")

8. Type: <class 'dict'>
   Value: {'name': 'John', 'age': 30}

In [24]:
# 9. Set (`set`):
set_var = set({1, 2, 3, 4})
print(f"{9}. Type: {type(set_var)}")
print(f"   Value: {set_var}\n")

9. Type: <class 'set'>
   Value: {1, 2, 3, 4}

In [25]:
# 10. Frozenset (`frozenset`):
frozenset_var = frozenset({1, 2, 3, 4})
print(f"{10}. Type: {type(frozenset_var)}")
print(f"    Value: {frozenset_var}\n")

10. Type: <class 'frozenset'>
    Value: frozenset({1, 2, 3, 4})

In [26]:
# 11. Boolean (`bool`):
bool_var = bool(True)
print(f"{11}. Type: {type(bool_var)}")
print(f"    Value: {bool_var}\n")

11. Type: <class 'bool'>
    Value: True

In [27]:
# 12. Bytes (`bytes`):
bytes_var = bytes(b'hello')
print(f"{12}. Type: {type(bytes_var)}")
print(f"    Value: {bytes_var}\n")

12. Type: <class 'bytes'>
    Value: b'hello'

In [28]:
# 13. Bytearray (`bytearray`):
bytearray_var = bytearray(b'hello')
print(f"{13}. Type: {type(bytearray_var)}")
print(f"    Value: {bytearray_var}\n")

13. Type: <class 'bytearray'>
    Value: bytearray(b'hello')

In [29]:
# 14. Memoryview (`memoryview`):
memoryview_var = memoryview(b'hello')
print(f"{14}. Type: {type(memoryview_var)}")
print(f"    Value: {memoryview_var}\n")

14. Type: <class 'memoryview'>
    Value: <memory at 0xffffa0ad4880>

In [30]:
# 15. None (`None`):
none_var = None
print(f"{15}. Type: {type(none_var)}")
print(f"    Value: {none_var}\n")

15. Type: <class 'NoneType'>
    Value: None

In [31]:
# 16. Boolean Constants (`True` and `False`):
bool_const_var = bool(True)
print(f"{16}. Type: {type(bool_const_var)}")
print(f"    Value: {bool_const_var}\n")

16. Type: <class 'bool'>
    Value: True

In [32]:
# 17. Enum Type (`enum.Enum`):
from enum import Enum

class Color(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3

print(f"{17}. Type: {type(Color.RED)}")
print(f"    Value: {Color.RED}")

17. Type: <enum 'Color'>
    Value: Color.RED

#### Thanks