# Pyhon Operators

* Arithmetic Operators
* Assignment operators
* Comparison Operators
* Logical Operators
* Identity Operators
* Membership Operators
* Bitwise Operators

In [1]:
#### Arithmetic Operators
x =10
y = 5
print("addition (+) :",x + y)

x =10
y = 5
print("subtraction (-) :",x - y)

x =10
y = 5
print("multiplication (*) :" ,x * y)

x =10
y = 5
print("division (/) :",x / y)

x =10
y = 5
print("Modulus (%) :",x % y)


x =10
y = 5
print("Exponentiation (** :)",x ** y)


x =10
y = 5
print("Floor division (//) :",x // y)

addition (+) : 15
subtraction (-) : 5
multiplication (*) : 50
division (/) : 2.0
Modulus (%) : 0
Exponentiation (** :) 100000
Floor division (//) : 2

In [2]:
# Assignment operators
# x=5
# x=x+5 same as x+=5
# x=x-3 same as x-=3
# x=x*3 same as x*=3
# x=x/3 same as x/=3
# x=x%3 same as x%=3
# x=x**3 same as x**=3

x = 4
x+=5
print(x)

9

In [3]:
# Comparison Operators

x = 5
y = 3
print("x equals to y ?",x == y)

x equals to y ? False

In [4]:
x = 5
y = 3
print("x not equals  y ?",x != y)

x not equals  y ? True

In [5]:
x = 5
y = 3
print("x is greater than y ?",x > y)

x is greater than y ? True

In [6]:
x = 5
y = 3
print("x is less than y ?",x < y)

x is less than y ? False

In [7]:
x = 5
y = 3
print("x is greater than equal  y ?",x >= y)

x is greater than equal  y ? True

In [8]:
x = 5
y = 3
print("x is less than equal  y ?",x <= y)

x is less than equal  y ? False

In [9]:
# Logical Operators
x = 5  
print("(x>3 and x<10)",x>3 and x<10)  # AND operator


x = 5
print("(x>3 or x<4)",x>3 or x<4)  # OR operator


x = 5
print("(not(x>3 and x<10))",not(x>3 and x<10))  # NOT operator

(x>3 and x<10) True
(x>3 or x<4) True
(not(x>3 and x<10)) False

In [10]:
# Identity Operators
x = ["sharad", "khare"]
y = ["sharad", "khare"]
z = x

print("(x is z)",x is z) # returns true because z is the same object as x.

print("print(x is y)",x is y)
#return false because x is not the same object as y even if they have the same content.

print("(x == y)",x == y)
# to demonstrate the difference between "is" and "==" . this comparison returns True because x is equal to y.

(x is z) True
print(x is y) False
(x == y) True

In [12]:
# membership Operators its equals to find and replace

x = ["apple" , "banana", "laddu", "peda"]
print('("banana" in x)',"banana" in x)

x = ["apple" , "banana", "laddu", "peda"]
print('("basdsfd" in x)',"basdsfd" in x)

x = ["apple" , "banana", "laddu", "peda"]
print('("pineapple" not in x)',"pineapple" not in x)

x = ["apple" , "banana", "laddu", "peda"]
print('("banana" not in x)',"banana" not in x)

("banana" in x) True
("basdsfd" in x) False
("pineapple" not in x) True
("banana" not in x) False